@font-face {
	font-family: Josefin;
	src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

body {
	font-family: Josefin, Arial, Helvetica, sans-serif; 
	background: #BBE6E4;
	color: #FF66B3; 
	width: 100vh; 
	margin-top: 1.5rem; 
	margin-left: 3rem; 
	padding: 3rem; 
}
